 <div class="user-details">
  <h1> About Me </h1>
  <p> Hello and welcome to my web page. My name is Kevin Kwon and I am a 4th year student at 
  <a aria-label="University of British Columbia" target="_blank" href="https://www.ubc.ca/">UBC</a> studying Computer Science and Physics.
  I am currently working as a full stack software developer intern at <a target="_blank" href="https://hootsuite.com/">Hootsuite</a>
  on the Plan and Create team. I work with a team of extremely talented and capable engineers, developing with React and Scala
  in a microservice architecture. I find it fascinating to work with problems that deal with scale, especially in the cloud.
</div>

