<div class="user-details">
  <h1> Small Projects </h1>
</div>


<div class="user-projects">
  <div class="images-left">
  
	<iframe width="450" height="300" src="https://www.youtube.com/embed/28mTkt53AKk" frameborder="0" gesture="media" allowfullscreen></iframe>
	
  </div>
  <div class="contents-right">
    <h3> APOD Viewer </h3>
    <ul>
      <li> Web design </li>
	  <li> RESTful API Calls </li>
    </ul>
    <p> I redesigned a more user-friendly version of NASA's <a target="_blank" href="https://apod.nasa.gov">APOD</a> webpage, which hosts a large number of fantastic photos/videos. I noticed
	it was a bit cumbersome to navigate the page and decided it might be fun to make my own page. Using JavaScript and JQuery I made api calls to NASA to obtain and display the appropriate data.
	It still needs a bit of work to complete.</p>
    <a class="project-link" target="_blank" href="https://github.com/kkwon1/APODViewer">Check it out</a>
	
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
  
	<iframe width="450" height="300" src="https://www.youtube.com/embed/Om0CgNHCfhI" frameborder="0" gesture="media" allowfullscreen></iframe>
	
  </div>
  <div class="contents">
    <h3> Game of Life </h3>
    <ul>
      <li> Cache Optimization </li>
    </ul>
    <p> Using C++, I was able to create <a target="_blank" href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life.</a> The source code can be found on my github page. The idea came from an assignment in my Hardware and Operating Systems course
		where a partner and I were given a task to optimize cache accessing. I decided to add a console output.</p>
    <a class="project-link" target="_blank" href="https://github.com/kkwon1/Game-of-Life">Check it out</a>
	
  </div>
</div>


<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
-->
